<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="etiket">
        <h3>Hashtagler</h3>
        <hr>
        <table border="1">
            <tr th:each="hashtag : ${hashtags}">
                <td width="295" height="40">
                    <span style="cursor: pointer;" onclick="fire_ajax_submit(this.id)" id="4" th:text="${hashtag.name}"></span>
                </td>
            </tr>
        </table>

    </div><!----etiket--->
    <div class="yorumlar">
        <div class="yorumdiv">
            <h3>Yorum Yap</h3>
            <form th:object="${comment}" th:action="@{/addcomment}" method="post">
                <input type="hidden" id="SerieId" name="Serie" th:value="${serie.id}">
                <textarea rows="8" cols="82" th:field="*{Comment}"></textarea>
                <input type="submit" value="Yorum Yap">
            </form>
        </div>
        <div class="hashtag-kutu-main">

        </div>
    </div>
    <script th:inline="javascript">
        function fire_ajax_submit(clicked_id) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var uri = "/getcomments/"+clicked_id;
            $.ajax({
                type: "GET",
                beforeSend: function (request) {
                    request.setRequestHeader(header, token);
                },
                url: uri,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    alert(data);
                    console.log(data);
                    data.forEach(function(entry) {
                        $('.hashtag-kutu-main').empty();
                        $(".hashtag-kutu-main").prepend("<div class='hashtag-kutu'> " +
                            "<span>Dizi : "+entry.series["name"]+"</span> – <span>"+entry.comment+" – "+entry.user["userName"]+" "+ entry.createdAt +"</span></div>");
                    });

                },
                error: function (e) {
                    alert(e.responseText)

                }
            });
        }
    </script>
</div><!--content-->

</body>
</html>